@mixin fullscreen-position {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@keyframes dialog-overlay-transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dialog-wrapper-transition {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.dialog-transition-enter-active {
  animation: var(--dialog-overlay-animation, dialog-overlay-transition 0.3s ease-in-out);
  .dialog-wrapper {
    animation: var(--dialog-wrapper-animation, dialog-wrapper-transition 0.3s ease-in-out);
  }
}

.dialog-transition-leave-active {
  animation: var(--dialog-overlay-animation, dialog-overlay-transition 0.3s ease-in-out);
  animation-direction: reverse;
  .dialog-wrapper {
    animation: var(--dialog-wrapper-animation, dialog-wrapper-transition 0.3s ease-in-out);
    animation-direction: reverse;
  }
}

.dialog-overlay {
  @include fullscreen-position;
  z-index: var(--dialog-z-index, 1024);
  background: var(--dialog-overlay-bg-color, #00000080);
}

.dialog-wrapper {
  @include fullscreen-position;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog {
  position: relative;
  color: var(--dialog-color, #000);
  background: var(--dialog-bg-color, #fff);
  box-shadow: var(--dialog-box-shadow, 0 2px 10px 0 rgba(0, 0, 0, 0.3));
  box-sizing: border-box;

  width: var(--dialog-width, 50%);
  max-height: 90%;
  border: var(--dialog-border, 1px solid #000);
  border-radius: var(--dialog-border-radius, 0);
  outline: none;

  display: flex;
  flex-direction: column;
}

.dialog-confirmation {
  --dialog-width: var(--dialog-confirmation-width, 33%);
}

.dialog-header {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--dialog-padding, 1rem);
}

.dialog-title {
  font-size: 2rem;
  font-weight: 100;
  flex: 1;
}

.dialog-close {
  align-self: flex-start;

  height: 1em;
  width: 1em;
  padding: 0;
  border: none;
  outline: none;

  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;

  color: inherit;
  background: transparent;
  cursor: pointer;
}

.dialog-content {
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: scroll;
  will-change: scroll-position;
  padding: var(--dialog-padding, 1rem);
}

.dialog-actions {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  gap: var(--dialog-actions-gap, 0.5rem);
  padding: var(--dialog-padding, 1rem);
}
